.skills_section {
  padding: 0.5rem 2rem;
  text-align: center;
}

.skills_title {
  font-size: 2rem;
  color: #94a3b8;
  margin-bottom: 2rem;
}

.skills_tec {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3.5rem;
  justify-items: center;
}

.skills_cards {
  padding: 15px;
  background-color: #2a2a2a;
  border-radius: 12px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  box-shadow: 0 9px 15px rgba(40, 22, 202, 0.2);
}

.skills_cards:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.skill_icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .skills_tec {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .skills_tec {
    grid-template-columns: repeat(2, 1fr);
  }
}