.skills_section {
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
}

.skills_title {
  font-size: 2rem;
  color: #94a3b8;
  margin-bottom: 2rem;
}

.skills_pes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.5rem;
  justify-items: center;
}

.card {
  background-color: #222;
  padding: 2rem;
  border-radius: 12px;
  width: 300px;
  height: 150px;
  box-shadow: 0 9px 15px rgba(40, 22, 202, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card_title {
  color: #00bfff;
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}

.card_text {
  font-size: 1rem;
  color: #f0f0f0;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .skills_pes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .skills_pes {
    grid-template-columns: repeat(1, 1fr);
  }
}